{% extends 'app/base.htm' %}
{% load static %}

{% block base %}



    <!--contenido-->
    <div class="container" style="margin-top: 15px;">
        <h1>Cristian Muñoz</h1>
    </div>
    <!-- imagenes -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 48rem;">

                    <img src="{% static 'app/img/cristian.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Yo soy Cristian Muñoz</h5>
                        <p class="card-text">Hola conoce mis trabajos y proyectos realizados</p>
                        <a href="{% url 'AUTOCRIS' %}" class="btn btn-primary">Mis Trabajos</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <a data-lightbox="cristians" href="{% static 'app/img/sebastian.jpg' %}">
            <img style="width: 150px;height: 150px;" src="{% static 'app/img/sebastian.jpg' %}" alt="">
        </a>

        <a data-lightbox="cristians" href="{% static 'app/img/cristian.jpg' %}">
            <img style="width: 150px;height: 150px;" src="{% static 'app/img/cristian.jpg' %}" alt="">
        </a>

        <a data-lightbox="cristians" href="{% static 'app/img/galeria2.jpg' %}">
            <img style="width: 150px;height: 150px;" src="{% static 'app/img/galeria2.jpg'%}" alt="">
        </a>

        <a data-lightbox="cristians" href="{% static 'app/img/galeria1.jpg' %}">
            <img style="width: 150px;height: 150px;" src="{% static 'app/img/galeria1.jpg' %}" alt="">
        </a>

        <a data-lightbox="cristians" href="{% static 'app/img/galeria3.jpg' %}">
            <img style="width: 150px;height: 150px;" src="{% static 'app/img/galeria3.jpg' %}" alt="">
        </a>
        
    </div>
    
{% endblock %}