{% extends 'app/base.htm' %}
{% load static %}
{% block base %}
<div class="container">
<h2>Galeria</h2>
</div>
<div class="container">
<div class="galeria row">
    {% for a in atenciones %}
    <div class="col-md-4 mx-10 my-3 d-flex justify-content-center">
        <div class="card" style="width:400px">
            <div class="atencion">
                <div class="contenedor_atencion">
                {% if a.imagen %}
                <img src="{{ a.imagen.url }}" alt="imagen atencion" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <div class="detalle">
                        <a href="{% url 'atencionDetalle' a.id %}" class="btn btn-primary">detalle</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}